<!DOCTYPE html>
<html>
  <head>
    <title>Foodie | Meat your Match</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/match.css">
    <link rel="shortcut icon" href="./images/icons/chef.png">
  </head>
  <body>
    <div class="container">

      <header class="top">
        <a href="/profile"> <img src="images/icons/avatar.png" id="avatar"> </a>
        <div class="logo-container">
          <a href="/">
            <img src="images/logo/FOODIE_TITLE.png">
          </a>
        </div>
        <a href="/chat"><img src="images/icons/chat.png" id="chat"></a>
      </header>

      <div class="main">
        <h3>Who will you match with today?</h3>
        <!-- Matches -->
        {{#each matches}}
        <a href="/matchprofile/{{name}}">
          <div class="match-container">
            <div class="cover-photo" style="background-image:url({{backgroundURL}});"></div>
            <div class="profile-img" style="background-image:url({{imageURL}});">
            </div>
            <h2 class="name">{{name}}</h2>
            <p class="description">{{description}}</p>
            <div class="information">
              <div class="rating">
                <h3>{{percent}}%</h3>
                <p>Match Rating</p>
              </div>
              <div class="miles">
                <h3>{{distance}}</h3>
                <p>Miles</p>
              </div>
            </div>
          </div>
        </a>
        {{/each}}

      </div>

    </div>


  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (blelow), or include individual files as needed -->
  <script src="/js/bootstrap.js"></script>
  <script src="/js/main.js"></script>
</html>
